body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 2em;
    letter-spacing: -0.011em;
    font-family: 'Inter var', sans-serif;
    font-size: 16px;
    color: #34495e;
    background: #f8f9fa;
    background-color: rgb(228, 228, 228);
  }

.description {
    background-color: darkgray;
    stroke: black;
    stroke-width: 1px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 10px;
    border-style: solid;
}

.divider {
    border-top: dashed;
}

.description-header {
    font-weight: bold;
    font-variant-caps: all-small-caps;
}

.description-text {
    font-size: 15px;
}

.controls {
    align-items: stretch;
}

#map {
    stroke-width: 1px;
    stroke: black;
    margin-left: 20%;
}

.county {
    stroke: black;
    stroke-width: 0.5px;
}

.county:hover {
    fill:darkcyan
}

.link {
    stroke: black;
    stroke-width: 0.2px;
}

#tooltip-div {
    position: absolute;
    margin-top: 25px;
    padding-top: 2px;
    padding-bottom: 5px;
    border-style: solid;
    border-width: 0.5px;
    background-color: white;
}

.tooltip {
    /* margin-left: 25%; */
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.background {
    fill: rgb(187, 186, 186);
}